
__pycache__/game_stuff.cpython-35.pyc
__pycache__/Homework Helper Online.cpython-37.pyc
__pycache__/Homework Helper.cpython-35.pyc
__pycache__/Homework Helper.cpython-39.pyc
homeworkfile.txt
Homework Helper 3/homeworkList.txt
Homework Helper 3/Homework Helper 3 (Dropbox)/homeworkList.txt
